<h2>Thank you for signing up, <%= @user.name %></h2>
<p>You are now authorized to access your <%= @user.client.name %> Pesteco reports.</p>
<p>Click <%= link_to 'here', root_url %> to sign in.</p>
<p>Your temporary password is <strong>chicken</strong></p>
