<h1><%= @group.name %></h1>

<% if @current_user && @current_user.admin %>
  <p>
    <%= link_to 'Edit Group', edit_client_group_path(@client, @group) %> |
    <%= link_to 'Delete Group', client_group_path(@client, @group), :method => :delete, :data => {confirm: 'Are you sure?'} %>
  </p>
<% end %>
