<h1>Admin client list</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Venues</th>
    <th>Users</th>
  </tr>
<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.name, client_path(client) %></td>
    <td><%= client.buildings.length %></td>
    <td>
      <% client.users.each do |user| %>
        <%= link_to user.name, user_path(user) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<br>
<button>
  <%= link_to 'Add new client', new_client_path %>
</button>
