<h1>Pest management professionals</h1>
<p>Pesteco is Australia’s most highly certified pest management company.</p>
<p>Operating across NSW and ACT, we deliver full-service expertise across retail, hospitality, commercial and residential property sectors.</p>

<div class="row">
  <div class="col sm-col-12 col-6">
    <h2>About us</h2>
    <p>Find out more information about our fully-certified and environmentally safe pest management solutions</p>
    <p>
      <%= link_to 'Find out more', services_path %>
    </p>
  </div>

  <div class="col sm-col-12 col-6">
    <h2>Pesteco clients</h2>
    <p>Existing pesteco clients can access their reports by logging in to the Pesteco Dashboard service
    </p>

    <%= link_to login_path do %>
      <button>Client dashboard login</button>
    <% end %>

  </div>
</div>

<div class="row row-shade">
<div class="col-12 center">
  <div class="call-out">
    <h2>Contact us</h2>
    <h3>0411 268 868</h3>

    <h3><a href="mailto:info@pesteco.com.au">Email us</a></h3>
  </div>
</div>
</div>
