<%= content_for :title, 'Pesteco Certification' %>

<h1>Pesteco Certification</h1>
<p>Pesteco is the most certified Pest control company in Australia, across all commercial, residential and hospitality sectors.</p>
<p>We guarantee a higher quality standard, an environmentally sustainable solution and the safest possible work environment for our client and our employees.</p>
<p>Please see below a summary of our highest certifications and links to supporting documentation:</p>
<ul>
  <% @posts_certification.each do |post| %>
  <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

<% if @current_user && @current_user.admin %>
<button>
  <%= link_to 'Add new certification', new_post_path %>
</button>
<% end %>
