<% content_for :title, 'Insects | Pesteco Pest Control' %>
<% content_for :meta_description, 'Professional crawling and flying insects control using innovative solutions is ideal for treating insects and avoiding property damage and associated health risks.' %>


<h1><%= image_tag('insect_logo.svg', :class => 'pest-solution') %> Insects pest control</h1>
<p>Crawling and flying insects are well known for spreading disease and health risks. Exposure to cockroaches, ants, mosquitoes and flies and their droppings could put you and your customers at serious risk.</p>

<p>Infestations can cost you and your business time, health and money. A quick response at the very first signs of an infestation is often essential to control insect infestations and to prevent the spread of pests.</p>

<h2>Pesteco insect control solutions</h2>
<p>Pesteco are the experts in crawling and flying insect control across Australia. Our trained professionals can both detect existing infestations and help you prevent future problems.</p>
<p>Our pest control experts are highly certified and are trained with the very best and environmentally safe technologies.</p>

<br>

<div class="row row-shade">
  <div class="col-12 center">
    <div class="call-out">
      <h2>Contact us</h2>
      <h3>0411 268 868</h3>

      <h3><a href="mailto:info@pesteco.com.au">Email us</a></h3>
    </div>
  </div>
</div>
