<h1>Pesteco Insurance</h1>
<p>Overview of Pesteco insurance information and supporting documentation</p>
<ul>
  <% @posts_insurance.each do |post| %>
  <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
