<h1>Pesteco services</h1>
<p>Pesteco is the most certified pest management company in Australia, across all commercial, residential and hospitality sectors.</p>
<p>We guarantee a higher quality standard, an environmentally sustainable solution and the safest possible work environment for our client and our employees.</p>
<p><%= link_to 'See our certification', certification_path %></p>

<h3>Pricing</h3>
<p>Our property management background has taught us the importance of value. That's why we take the time to understand our clients in order to tailor a solution that's right for them.</p>

<h3>Responsiveness</h3>
<p>We pride ourselves on our outstanding customer service and professionalism. We're quick to answer the phone, you'll always have direct access to the right person and we're always around to help. </p>

<p>Our team will be in touch as soon as a work order is issued and will keep all stakeholders informed throughout the job and once the job is done. </p>

<h3>Reach out to us today</h3>
<p>Tel: 0411 268 868</p>
<p>Email: bogdan@pesteco.com</p>
