<% content_for :title, 'Termites | Pesteco Pest Control' %>
<% content_for :meta_description, 'Think you have termites? Learn about the signs of termites, how to get rid of them and protect your home in the future with Pesteco.' %>


<h1><%= image_tag('termite_logo.svg', :class => 'pest-solution') %> Termites</h1>
<p>Termites can cause extensive damage to the structure of a building if they are not managed or controlled by qualified pest professionals such as Pesteco.</p>

<p>Densely populated areas, such as Sydney, Melbourne, Brisbane, Perth and Adelaide, face a greater risk due to the large concentration of buildings and associated climate.</p>

<h2>How do you know if you have Termites?</h2>

<p>Because Termites mostly live underground and in the walls of your home, you are unlikely to see the termites themselves. Signs may include:</p>
<ul>
  <li>Termite droppings, which look like small, ridged, wood-colored pellets.</li>
  <li>Mud tubes on exterior surface</li>
  <li>Wings all of the same size (look like tiny fish scales) shredded near an entry point to your home</li>
  <li>Since some of these signs are difficult to detect, we recommend regular inspection by a Pesteco pest-control professional</li>
</ul>

<h2>Pesteco termite solutions</h2>
<p>Pesteco are the experts in termite control across Australia. Our trained professionals can both detect existing infestations and help you prevent future problems.
<p>Our termite experts are highly certified and are trained with the very best and environmentally safe technologies.</p>

<br>

<div class="row row-shade">
  <div class="col-12 center">
    <div class="call-out">
      <h2>Contact us</h2>
      <h3>0411 268 868</h3>

      <h3><a href="mailto:info@pesteco.com.au">Email us</a></h3>
    </div>
  </div>
</div>
